# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties

https://www.crsp.org/files/treasury_guide_0.pdf

In [7]:
import wrds
file_key = open("../../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [8]:
import pandas as pd
import numpy as np
from datetime import date

# Library Info

In [9]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [10]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3275455 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type comment
0        kytreasno      True  DOUBLE_PRECISION    None
1         kycrspid      True       VARCHAR(15)    None
2            caldt      True              DATE    None
3            tdbid      True  DOUBLE_PRECISION    None
4            tdask      True  DOUBLE_PRECISION    None
5         tdnomprc      True  DOUBLE_PRECISION    None
6     tdnomprc_flg      True        VARCHAR(1)    None
7         tdsourcr      True        VARCHAR(1)    None
8         tdaccint      True  DOUBLE_PRECISION    None
9         tdretnua      True  DOUBLE_PRECISION    None
10           tdyld      True  DOUBLE_PRECISION    None
11        tdduratn      True  DOUBLE_PRECISION    None
12        tdpubout      True  DOUBLE_PRECISION    None
13        tdtotout      True  DOUBLE_PRECISION    None
14         tdpdint      True  DOUBLE_PRECISION    None
15      tdidxratio      True  DOUBLE_PRECISION    None
16  tdidxratio_flg      True        VARCHAR(1)    None

# Database quote

In [13]:
DATE = '2022-12-30'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204099.0,20370215.104750,2022-12-30,109.468750,109.531250,109.500000,M,I,1.768342,-0.005679,0.000105,3824.361582,4976.0,16589.0,0.0,NaN,None
1,204081.0,20230215.107120,2022-12-30,100.265625,100.296875,100.281250,M,I,2.652514,-0.000571,0.000130,47.000000,4735.0,15782.0,0.0,NaN,None
2,204088.0,20261115.106500,2022-12-30,108.328125,108.375000,108.351562,M,I,0.808011,-0.002584,0.000112,1271.885983,4266.0,10860.0,0.0,NaN,None
3,204092.0,20280815.105500,2022-12-30,107.000000,107.046875,107.023438,M,I,2.047554,-0.002079,0.000111,1772.052591,4635.0,11776.0,0.0,NaN,None
4,204093.0,20281115.105250,2022-12-30,106.046875,106.093750,106.070312,M,I,0.652624,-0.001545,0.000110,1873.297061,7738.0,10947.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,207967.0,20230511.400000,2022-12-30,98.326167,98.350000,98.338083,M,I,0.000000,-0.000379,0.000127,132.000000,NaN,50415.0,0.0,NaN,None
430,207972.0,20251115.204500,2022-12-30,100.632812,100.664062,100.648438,M,I,0.559392,-0.001304,0.000115,992.593427,39999.0,54027.0,0.0,NaN,None
431,207973.0,20271130.203870,2022-12-30,99.441406,99.488281,99.464844,M,I,0.319368,-0.002627,0.000108,1646.987389,42995.0,47670.0,0.0,NaN,None
432,207976.0,20421115.104000,2022-12-30,97.984375,98.046875,98.015625,M,I,0.497238,-0.009861,0.000112,5024.980206,14987.0,16617.0,0.0,NaN,None
433,207977.0,20521115.104000,2022-12-30,100.562500,100.625000,100.593750,M,I,0.497238,-0.011202,0.000108,6443.887004,38975.0,46340.0,0.0,NaN,None

In [14]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204081.0,20230215.107120,20230215.107120,912810EP,1993-02-15,2023-02-15,0.0,7.125,2.0,3.562500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204082.0,20230815.106250,20230815.106250,912810EQ,1993-08-16,2023-08-15,0.0,6.250,2.0,3.108016,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204083.0,20241115.107500,20241115.107500,912810ES,1994-05-15,2024-11-15,0.0,7.500,2.0,3.750000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204084.0,20250215.107620,20250215.107620,912810ET,1995-02-15,2025-02-15,0.0,7.625,2.0,3.812500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204085.0,20250815.106870,20250815.106870,912810EV,1995-08-15,2025-08-15,0.0,6.875,2.0,3.437500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,207986.0,20231228.400000,20231228.400000,912796ZN,2022-12-29,2023-12-28,0.0,0.000,0.0,0.000000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
430,207987.0,20241231.204250,20241231.204250,91282CGD,2022-12-31,2024-12-31,0.0,4.250,2.0,2.125000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
431,207988.0,20251215.204000,20251215.204000,91282CGA,2022-12-15,2025-12-15,0.0,4.000,2.0,2.000000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
432,207989.0,20271231.203870,20271231.203870,91282CGC,2022-12-31,2027-12-31,0.0,3.875,2.0,1.937500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
433,207990.0,20291231.203870,20291231.203870,91282CGB,2022-12-31,2029-12-31,0.0,3.875,2.0,1.937500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [15]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204099.0,20370215.104750,2022-12-30,109.468750,109.531250,109.500000,M,I,1.768342,-0.005679,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204081.0,20230215.107120,2022-12-30,100.265625,100.296875,100.281250,M,I,2.652514,-0.000571,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204088.0,20261115.106500,2022-12-30,108.328125,108.375000,108.351562,M,I,0.808011,-0.002584,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204092.0,20280815.105500,2022-12-30,107.000000,107.046875,107.023438,M,I,2.047554,-0.002079,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204093.0,20281115.105250,2022-12-30,106.046875,106.093750,106.070312,M,I,0.652624,-0.001545,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
429,207967.0,20230511.400000,2022-12-30,98.326167,98.350000,98.338083,M,I,0.000000,-0.000379,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
430,207972.0,20251115.204500,2022-12-30,100.632812,100.664062,100.648438,M,I,0.559392,-0.001304,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
431,207973.0,20271130.203870,2022-12-30,99.441406,99.488281,99.464844,M,I,0.319368,-0.002627,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
432,207976.0,20421115.104000,2022-12-30,97.984375,98.046875,98.015625,M,I,0.497238,-0.009861,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
433,207977.0,20521115.104000,2022-12-30,100.562500,100.625000,100.593750,M,I,0.497238,-0.011202,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None

# Get Yield Curve Data (CRSP)

In [16]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
tag_yield_file = data_ft.index[-1].strftime('%Y-%m-%d')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2022-11-23,4.666103,4.465921,3.886053,3.657613,3.665568,4.010443,3.723134
2022-11-25,4.654875,4.442006,3.859520,3.629335,3.652183,3.995460,3.735102
2022-11-28,4.635645,4.420958,3.868822,3.640823,3.650411,3.996127,3.720517
2022-11-29,4.658083,4.462683,3.918990,3.696951,3.714694,4.065729,3.799570
2022-11-30,4.684844,4.264782,3.752390,3.525869,3.572437,3.979912,3.735334

# Get Timeseries for certain maturities

In [19]:
MATDT = '2020-08-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
ts_info = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
ts_info = ts_info.iloc[[0,1],:]
ts_info

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204074.0,20200815.108750,20200815.108750,912810EG,1990-08-15,2020-08-15,1.0,8.750,2.0,4.3750,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,206169.0,20200815.202620,20200815.202620,912828NT,2010-08-15,2020-08-15,1.0,2.625,2.0,1.3125,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [20]:
if ts_info.shape[0]>1:
    KEYNO = tuple(ts_info['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = ts_info['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204074.0,20200815.108750,1993-04-13,122.593750,122.656250,122.625000,M,R,1.377762,0.001204,0.000186,4387.142817,21009.0,21419.0,0.0,None,None
1,204074.0,20200815.108750,1990-08-10,99.562500,99.625000,99.593750,M,R,0.000000,NaN,0.000235,4021.731911,NaN,NaN,0.0,None,None
2,204074.0,20200815.108750,1990-08-13,99.187500,99.250000,99.218750,M,R,0.000000,-0.003765,0.000236,4006.695342,NaN,NaN,0.0,None,None
3,204074.0,20200815.108750,1990-08-14,99.656250,99.718750,99.687500,M,R,0.000000,0.004724,0.000235,4017.732737,NaN,NaN,0.0,None,None
4,204074.0,20200815.108750,1990-08-15,99.843750,99.906250,99.875000,M,R,0.000000,0.001881,0.000235,4021.154173,NaN,NaN,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,206169.0,20200815.202620,2017-07-07,103.039062,103.070312,103.054688,M,I,1.029696,0.000070,0.000044,1087.375558,34231.0,67850.0,0.0,None,None
10002,206169.0,20200815.202620,2017-07-10,103.039062,103.054688,103.046875,M,I,1.051450,0.000134,0.000044,1084.375623,34231.0,67850.0,0.0,None,None
10003,206169.0,20200815.202620,2017-07-11,103.093750,103.125000,103.109375,M,I,1.058702,0.000670,0.000043,1083.396165,34231.0,67850.0,0.0,None,None
10004,206169.0,20200815.202620,2017-07-12,103.203125,103.234375,103.218750,M,I,1.065953,0.001120,0.000042,1082.431479,34231.0,67850.0,0.0,None,None
10005,206169.0,20200815.202620,2017-07-13,103.148438,103.179688,103.164062,M,I,1.073204,-0.000455,0.000043,1081.415137,34231.0,67850.0,0.0,None,None

# Get Timeseries for certain issues

In [15]:
KEYNO_ts = (207816,207818)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts}'

ts_issue = db.raw_sql(SQL_QUERY)
ts_issue

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207818.0,20221229.400000,2022-01-12,99.561250,99.571000,99.566125,M,I,0.0,-0.000110,0.000012,351.0,None,38798.0,0.0,None,None
1,207816.0,20220630.400000,2022-03-23,99.862500,99.865250,99.863875,M,I,0.0,0.000097,0.000014,99.0,None,58198.0,0.0,None,None
2,207816.0,20220630.400000,2022-03-24,99.861167,99.863889,99.862528,M,I,0.0,-0.000013,0.000014,98.0,None,58198.0,0.0,None,None
3,207816.0,20220630.400000,2022-03-25,99.846417,99.859889,99.853153,M,I,0.0,-0.000094,0.000015,97.0,None,58198.0,0.0,None,None
4,207816.0,20220630.400000,2022-03-28,99.848556,99.853778,99.851167,M,I,0.0,-0.000020,0.000016,94.0,None,58198.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,207818.0,20221229.400000,2022-03-25,99.062250,99.070000,99.066125,M,I,0.0,-0.001240,0.000034,279.0,None,38798.0,0.0,None,None
212,207818.0,20221229.400000,2022-03-28,98.988000,99.041667,99.014833,M,I,0.0,-0.000518,0.000036,276.0,None,38798.0,0.0,None,None
213,207818.0,20221229.400000,2022-03-29,99.018403,99.083333,99.050868,M,I,0.0,0.000364,0.000035,275.0,None,38798.0,0.0,None,None
214,207818.0,20221229.400000,2022-03-30,99.079056,99.086667,99.082861,M,I,0.0,0.000323,0.000034,274.0,None,38798.0,0.0,None,None
215,207818.0,20221229.400000,2022-03-31,99.082417,99.090000,99.086208,M,I,0.0,0.000034,0.000034,273.0,None,38798.0,0.0,None,None

# Get Timeseries for TIPS issues

In [16]:
KEYNO_tips = (207431,206999,207009)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_tips}'

ts_issue_tips = db.raw_sql(SQL_QUERY)
ts_issue_tips

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207431.0,20241015.C00120,2019-10-10,99.765625,99.796875,99.781250,M,I,0.0,NaN,NaN,NaN,NaN,NaN,0.0,1.00001,C
1,206999.0,20260715.C00120,2016-12-23,95.968750,96.101562,96.035156,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00809,C
2,206999.0,20260715.C00120,2016-12-27,95.917969,96.050781,95.984375,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00826,C
3,206999.0,20260715.C00120,2016-12-28,96.121094,96.253906,96.187500,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00830,C
4,206999.0,20260715.C00120,2016-12-29,96.214844,96.347656,96.281250,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00834,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,207431.0,20241015.C00120,2022-05-24,102.863281,102.898438,102.880859,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11678,C
3581,207431.0,20241015.C00120,2022-05-25,102.882812,102.917969,102.900391,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11725,C
3582,207431.0,20241015.C00120,2022-05-26,103.136719,103.171875,103.154297,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11773,C
3583,207431.0,20241015.C00120,2022-05-27,103.109375,103.144531,103.126953,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11821,C
3584,207431.0,20241015.C00120,2022-05-31,102.972656,103.007812,102.990234,M,I,0.0,NaN,NaN,NaN,31724.0,39415.0,0.0,1.12011,C

# Get Timeseries for Duration Analysis

In [13]:
KEYNO_ts_duration = (207392, 207391, 207457)
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts_duration}'
ts_issue_duration = db.raw_sql(SQL_QUERY)
ts_issue_duration

infoflds = ['tdatdt','tmatdt','tcouprt','itype']
labels = ['issue date','maturity date','coupon rate','security type']
rename_dict = {infoflds[i]:labels[i] for i in range(len(infoflds))}
info_ts_duration = data_iss.set_index('kytreasno').loc[list(KEYNO_ts_duration),infoflds].rename(columns=rename_dict)

# Get Fama-Bliss Discount (Zero-Coupon) Bonds

In [5]:
data_famabliss = db.get_table(library='crsp_m_treasuries', table='tfz_mth_fb').pivot_table(index='mcaldt',values='tmnomprc', columns='kytreasnox')
tag_famabliss_file = data_famabliss.index[-1].strftime('%Y-%m-%d')
data_famabliss.columns = [1,2,3,4,5]
data_famabliss.index.name = 'date'
data_famabliss.index = data_famabliss.index.astype('datetime64[ns]')
data_famabliss.index
data_famabliss /= 100

data_famabliss

                   1         2         3         4         5
date
1952-06-30  0.981778  0.962531  0.942467  0.926341  0.904183
1952-07-31  0.980948  0.960315  0.939312  0.923089  0.898516
1952-08-29  0.980578  0.959750  0.937819  0.921458  0.895717
1952-09-30  0.980312  0.959098  0.937551  0.920961  0.891676
1952-10-31  0.981108  0.959745  0.937583  0.919290  0.897248
...              ...       ...       ...       ...       ...
2022-08-31  0.965955  0.933432  0.900600  0.871263  0.846584
2022-09-30  0.959839  0.918517  0.880655  0.846696  0.816731
2022-10-31  0.954288  0.914926  0.876564  0.841926  0.811304
2022-11-30  0.954375  0.918220  0.887608  0.857356  0.830593
2022-12-30  0.954636  0.916229  0.883347  0.851046  0.820298

[847 rows x 5 columns]

# Save to Excel

In [18]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [21]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_info.T.to_excel(writer, sheet_name= 'info', index=True)
    ts.to_excel(writer, sheet_name= 'database', index=False)

In [29]:
outfile = f'../data/treasury_ts_issue_{KEYNO_ts}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue.to_excel(writer, sheet_name= 'ts', index=False)

In [34]:
outfile = f'../data/treasury_ts_issue_TIPS_{KEYNO_tips}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue_tips.to_excel(writer, sheet_name= 'ts', index=False)

In [19]:
outfile = f'../data/yields_{tag_yield_file}.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)

In [14]:
outfile = f'../data/treasury_ts_issue_duration_{KEYNO_ts_duration}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    info_ts_duration.to_excel(writer, sheet_name= 'info', index=True)
    ts_issue_duration.to_excel(writer, sheet_name= 'ts', index=False)

In [27]:
outfile = f'../data/treasury_zero_coupon_{tag_famabliss_file}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data_famabliss.to_excel(writer, sheet_name= 'prices', index=True)