# WRDS CRSP Documentation

### Treasury Libraries
`crsp_m_treasuries`

Quote Data
* tfz_dly: main file of treasury quotes
* tfz_dly_ts2: supplemental series
* tfz_dly_ft: matched to term structure at any given date
* tfz_dly_cd: compilation of fed reported rates in tfz format
* tfz_dly_cpi: compilation of cpi data
* tfz_dly_rf2: compiled risk-free rate

Identifying Info
* tfz_iss: issue details (which are included automatically in queries.)
* tfz_idx: description of KYTREASNOX codes

### WRDS Python Manual
https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/querying-wrds-data-python/

https://wrds-www.wharton.upenn.edu/pages/support/programming-wrds/programming-python/python-example-data-workflow/

https://wrds-www.wharton.upenn.edu/pages/support/applications/python-replications/fama-french-factors-python/

### CRSP Treasury Manual

https://www.crsp.org/products/documentation/treasno-properties

https://www.crsp.org/files/treasury_guide_0.pdf

In [1]:
import wrds
file_key = open("../../../keys/wrds_username.txt","r")
USERNAME = file_key.read()
file_key.close()

db = wrds.Connection(wrds_username=USERNAME)
#db.create_pgpass_file()

Loading library list...
Done

In [2]:
import pandas as pd
import numpy as np
from datetime import date

# Library Info

In [3]:
libs = db.list_libraries()
libs_crsp = [item for item in libs if item.startswith('crsp')]
treasury_databases = db.list_tables('crsp_m_treasuries')
display(treasury_databases)

['tfz_dly',
 'tfz_dly_cd',
 'tfz_dly_cpi',
 'tfz_dly_ft',
 'tfz_dly_rf2',
 'tfz_dly_ts2',
 'tfz_idx',
 'tfz_iss',
 'tfz_mast',
 'tfz_mth',
 'tfz_mth_bp',
 'tfz_mth_cd',
 'tfz_mth_cpi',
 'tfz_mth_fb',
 'tfz_mth_ft',
 'tfz_mth_rf',
 'tfz_mth_rf2',
 'tfz_mth_ts',
 'tfz_mth_ts2',
 'tfz_pay']

In [4]:
db.describe_table(library='crsp_m_treasuries', table='tfz_dly')

Approximately 3266406 rows in crsp_m_treasuries.tfz_dly.

              name  nullable              type comment
0        kytreasno      True  DOUBLE_PRECISION    None
1         kycrspid      True       VARCHAR(15)    None
2            caldt      True              DATE    None
3            tdbid      True  DOUBLE_PRECISION    None
4            tdask      True  DOUBLE_PRECISION    None
5         tdnomprc      True  DOUBLE_PRECISION    None
6     tdnomprc_flg      True        VARCHAR(1)    None
7         tdsourcr      True        VARCHAR(1)    None
8         tdaccint      True  DOUBLE_PRECISION    None
9         tdretnua      True  DOUBLE_PRECISION    None
10           tdyld      True  DOUBLE_PRECISION    None
11        tdduratn      True  DOUBLE_PRECISION    None
12        tdpubout      True  DOUBLE_PRECISION    None
13        tdtotout      True  DOUBLE_PRECISION    None
14         tdpdint      True  DOUBLE_PRECISION    None
15      tdidxratio      True  DOUBLE_PRECISION    None
16  tdidxratio_flg      True        VARCHAR(1)    None

# Database quote

In [5]:
DATE = '2022-09-30'
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where caldt=\'{DATE}\''
data_quotes = db.raw_sql(SQL_QUERY)
data_quotes

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204080.0,20221115.107620,2022-09-30,100.500000,100.531250,100.515625,M,I,2.859375,-0.000480,0.000092,46.000000,2227.0,7424.0,0.0,NaN,None
1,204081.0,20230215.107120,2022-09-30,101.304688,101.335938,101.320312,M,I,0.890625,0.000189,0.000095,138.000000,4735.0,15782.0,0.0,NaN,None
2,204082.0,20230815.106250,2022-09-30,101.703125,101.734375,101.718750,M,I,0.781250,-0.000824,0.000115,313.568270,6798.0,22659.0,0.0,NaN,None
3,204088.0,20261115.106500,2022-09-30,108.695312,108.742188,108.718750,M,I,2.437500,-0.002016,0.000113,1324.488247,4266.0,10860.0,0.0,NaN,None
4,204083.0,20241115.107500,2022-09-30,106.359375,106.390625,106.375000,M,I,2.812500,-0.002027,0.000117,715.758788,3438.0,9604.0,0.0,NaN,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,207944.0,20231005.400000,2022-09-30,95.796389,95.960833,95.878611,M,I,0.000000,0.000009,0.000114,370.000000,NaN,NaN,0.0,NaN,None
423,207945.0,20240930.204250,2022-09-30,99.921875,99.957031,99.939453,M,I,0.000000,-0.001619,0.000116,708.458961,42993.0,42993.0,0.0,NaN,None
424,207943.0,20230907.400000,2022-09-30,96.366250,96.375750,96.371000,M,I,0.000000,-0.000137,0.000108,342.000000,NaN,36756.0,0.0,NaN,None
425,207947.0,20270930.204120,2022-09-30,100.125000,100.171875,100.148438,M,I,0.000000,-0.003304,0.000111,1668.729781,44000.0,44000.0,0.0,NaN,None
426,207948.0,20290930.203870,2022-09-30,99.312500,99.359375,99.335938,M,I,0.000000,-0.003527,0.000108,2262.660826,36002.0,36002.0,0.0,NaN,None

In [6]:
KEYS = tuple(data_quotes['kytreasno'])
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where kytreasno in {KEYS}'
data_iss = db.raw_sql(SQL_QUERY)
data_iss

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204080.0,20221115.107620,20221115.107620,912810EN,1992-11-15,2022-11-15,1.0,7.625,2.0,3.812500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204081.0,20230215.107120,20230215.107120,912810EP,1993-02-15,2023-02-15,0.0,7.125,2.0,3.562500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204082.0,20230815.106250,20230815.106250,912810EQ,1993-08-16,2023-08-15,0.0,6.250,2.0,3.108016,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204083.0,20241115.107500,20241115.107500,912810ES,1994-05-15,2024-11-15,0.0,7.500,2.0,3.750000,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204084.0,20250215.107620,20250215.107620,912810ET,1995-02-15,2025-02-15,0.0,7.625,2.0,3.812500,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,207944.0,20231005.400000,20231005.400000,912796YJ,2022-10-06,2023-10-05,0.0,0.000,0.0,0.000000,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
423,207945.0,20240930.204250,20240930.204250,91282CFN,2022-09-30,2024-09-30,0.0,4.250,2.0,2.125000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
424,207946.0,20250915.203500,20250915.203500,91282CFK,2022-09-15,2025-09-15,0.0,3.500,2.0,1.750000,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
425,207947.0,20270930.204120,20270930.204120,91282CFM,2022-09-30,2027-09-30,0.0,4.125,2.0,2.062500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
426,207948.0,20290930.203870,20290930.203870,91282CFL,2022-09-30,2029-09-30,0.0,3.875,2.0,1.937500,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [7]:
data = data_quotes.merge(data_iss, on='kytreasno')
data

,kytreasno,kycrspid_x,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204080.0,20221115.107620,2022-09-30,100.500000,100.531250,100.515625,M,I,2.859375,-0.000480,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204081.0,20230215.107120,2022-09-30,101.304688,101.335938,101.320312,M,I,0.890625,0.000189,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
2,204082.0,20230815.106250,2022-09-30,101.703125,101.734375,101.718750,M,I,0.781250,-0.000824,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
3,204088.0,20261115.106500,2022-09-30,108.695312,108.742188,108.718750,M,I,2.437500,-0.002016,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
4,204083.0,20241115.107500,2022-09-30,106.359375,106.390625,106.375000,M,I,2.812500,-0.002027,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
422,207944.0,20231005.400000,2022-09-30,95.796389,95.960833,95.878611,M,I,0.000000,0.000009,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
423,207945.0,20240930.204250,2022-09-30,99.921875,99.957031,99.939453,M,I,0.000000,-0.001619,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
424,207943.0,20230907.400000,2022-09-30,96.366250,96.375750,96.371000,M,I,0.000000,-0.000137,...,None,0.0,None,4.0,0.0,1.0,1.0,None,None,None
425,207947.0,20270930.204120,2022-09-30,100.125000,100.171875,100.148438,M,I,0.000000,-0.003304,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
426,207948.0,20290930.203870,2022-09-30,99.312500,99.359375,99.335938,M,I,0.000000,-0.003527,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

# Get Yield Curve Data (CRSP)

In [16]:
data_ft = db.get_table(library='crsp_m_treasuries', table='tfz_dly_ft').pivot_table(index='caldt',values='tdytm', columns='kytreasnox')
tag_yield_file = data_ft.index[-1].strftime('%Y-%m-%d')
data_ft.columns = [1,2,5,7,10,20,30]
data_ft

,1,2,5,7,10,20,30
caldt,,,,,,,
1961-06-14,2.935907,3.360687,3.623677,3.768720,3.818819,3.814210,3.815172
1961-06-15,2.932936,3.376460,3.671691,3.804225,3.862987,3.828220,3.826316
1961-06-16,2.929949,3.375670,3.685431,3.804216,3.863282,3.832922,3.830049
1961-06-19,2.920884,3.389970,3.712984,3.824557,3.886205,3.842378,3.837543
1961-06-20,2.952419,3.355796,3.685391,3.809274,3.886506,3.856465,3.845018
...,...,...,...,...,...,...,...
2022-11-23,4.666103,4.465921,3.886053,3.657613,3.665568,4.010443,3.723134
2022-11-25,4.654875,4.442006,3.859520,3.629335,3.652183,3.995460,3.735102
2022-11-28,4.635645,4.420958,3.868822,3.640823,3.650411,3.996127,3.720517
2022-11-29,4.658083,4.462683,3.918990,3.696951,3.714694,4.065729,3.799570
2022-11-30,4.684844,4.264782,3.752390,3.525869,3.572437,3.979912,3.735334

# Get Timeseries for certain maturities

In [7]:
MATDT = '2015-08-15'

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_iss where tmatdt=\'{MATDT}\''
ts_info = db.raw_sql(SQL_QUERY)
#temp = temp[temp['itype'].isin([11,12]) == DOTIPS]
ts_info

,kytreasno,kycrspid,crspid,tcusip,tdatdt,tmatdt,iwhy,tcouprt,tnippy,tvalfc,...,tfcaldt,tnotice,iymcn,itype,iuniq,itax,iflwr,tbankdt,tstripelig,tfrgntgt
0,204046.0,20150815.110620,20150815.110620,912810DS,1985-08-15,2015-08-15,1.0,10.625,2.0,5.3125,...,None,0.0,None,1.0,0.0,1.0,1.0,None,None,None
1,204047.0,20150815.204250,20150815.204250,912828EE,2005-08-15,2015-08-15,1.0,4.250,2.0,2.1250,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None
2,206524.0,20150815.200250,20150815.200250,912828TK,2012-08-15,2015-08-15,1.0,0.250,2.0,0.1250,...,None,0.0,None,2.0,0.0,1.0,1.0,None,None,None

In [8]:
if ts_info.shape[0]>1:
    KEYNO = tuple(ts_info['kytreasno'])
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO}'
else:
    KEYNO = ts_info['kytreasno'].values[0]
    SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno =\'{KEYNO}\''
    
ts = db.raw_sql(SQL_QUERY)
ts

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,204046.0,20150815.110620,1989-05-02,116.062500,116.312500,116.187500,M,R,2.230663,0.005823,2.411831e-04,3662.963463,6470.0,7150.0,0.0,None,None
1,204046.0,20150815.110620,1989-05-03,116.187500,116.437500,116.312500,M,R,2.260014,0.001303,2.408933e-04,3664.503530,6470.0,7150.0,0.0,None,None
2,204046.0,20150815.110620,1989-05-04,115.593750,115.843750,115.718750,M,R,2.289365,-0.004760,2.422637e-04,3651.504100,6470.0,7150.0,0.0,None,None
3,204046.0,20150815.110620,1989-05-05,116.218750,116.468750,116.343750,M,R,2.318715,0.005545,2.408178e-04,3663.165673,6470.0,7150.0,0.0,None,None
4,204046.0,20150815.110620,1989-05-08,115.718750,115.968750,115.843750,M,R,2.406768,-0.003472,2.419669e-04,3650.099891,6470.0,7150.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10758,206524.0,20150815.200250,2015-06-23,100.031250,100.054688,100.042969,M,I,0.088398,0.000085,-1.199696e-06,53.000000,32000.0,32000.0,0.0,None,None
10759,206524.0,20150815.200250,2015-06-24,100.023438,100.039062,100.031250,M,I,0.089088,-0.000110,8.953636e-07,52.000000,32000.0,32000.0,0.0,None,None
10760,206524.0,20150815.200250,2015-06-25,100.023438,100.039062,100.031250,M,I,0.089779,0.000007,7.776697e-07,51.000000,32000.0,32000.0,0.0,None,None
10761,206524.0,20150815.200250,2015-06-26,100.023438,100.039062,100.031250,M,I,0.090470,0.000007,6.552690e-07,50.000000,32000.0,32000.0,0.0,None,None
10762,206524.0,20150815.200250,2015-06-29,100.023438,100.031250,100.027344,M,I,0.092541,-0.000018,1.086927e-06,47.000000,32000.0,32000.0,0.0,None,None

# Get Timeseries for certain issues

In [15]:
KEYNO_ts = (207816,207818)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts}'

ts_issue = db.raw_sql(SQL_QUERY)
ts_issue

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207818.0,20221229.400000,2022-01-12,99.561250,99.571000,99.566125,M,I,0.0,-0.000110,0.000012,351.0,None,38798.0,0.0,None,None
1,207816.0,20220630.400000,2022-03-23,99.862500,99.865250,99.863875,M,I,0.0,0.000097,0.000014,99.0,None,58198.0,0.0,None,None
2,207816.0,20220630.400000,2022-03-24,99.861167,99.863889,99.862528,M,I,0.0,-0.000013,0.000014,98.0,None,58198.0,0.0,None,None
3,207816.0,20220630.400000,2022-03-25,99.846417,99.859889,99.853153,M,I,0.0,-0.000094,0.000015,97.0,None,58198.0,0.0,None,None
4,207816.0,20220630.400000,2022-03-28,99.848556,99.853778,99.851167,M,I,0.0,-0.000020,0.000016,94.0,None,58198.0,0.0,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211,207818.0,20221229.400000,2022-03-25,99.062250,99.070000,99.066125,M,I,0.0,-0.001240,0.000034,279.0,None,38798.0,0.0,None,None
212,207818.0,20221229.400000,2022-03-28,98.988000,99.041667,99.014833,M,I,0.0,-0.000518,0.000036,276.0,None,38798.0,0.0,None,None
213,207818.0,20221229.400000,2022-03-29,99.018403,99.083333,99.050868,M,I,0.0,0.000364,0.000035,275.0,None,38798.0,0.0,None,None
214,207818.0,20221229.400000,2022-03-30,99.079056,99.086667,99.082861,M,I,0.0,0.000323,0.000034,274.0,None,38798.0,0.0,None,None
215,207818.0,20221229.400000,2022-03-31,99.082417,99.090000,99.086208,M,I,0.0,0.000034,0.000034,273.0,None,38798.0,0.0,None,None

# Get Timeseries for TIPS issues

In [16]:
KEYNO_tips = (207431,206999,207009)

SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_tips}'

ts_issue_tips = db.raw_sql(SQL_QUERY)
ts_issue_tips

,kytreasno,kycrspid,caldt,tdbid,tdask,tdnomprc,tdnomprc_flg,tdsourcr,tdaccint,tdretnua,tdyld,tdduratn,tdpubout,tdtotout,tdpdint,tdidxratio,tdidxratio_flg
0,207431.0,20241015.C00120,2019-10-10,99.765625,99.796875,99.781250,M,I,0.0,NaN,NaN,NaN,NaN,NaN,0.0,1.00001,C
1,206999.0,20260715.C00120,2016-12-23,95.968750,96.101562,96.035156,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00809,C
2,206999.0,20260715.C00120,2016-12-27,95.917969,96.050781,95.984375,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00826,C
3,206999.0,20260715.C00120,2016-12-28,96.121094,96.253906,96.187500,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00830,C
4,206999.0,20260715.C00120,2016-12-29,96.214844,96.347656,96.281250,M,I,0.0,NaN,NaN,NaN,23999.0,37103.0,0.0,1.00834,C
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3580,207431.0,20241015.C00120,2022-05-24,102.863281,102.898438,102.880859,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11678,C
3581,207431.0,20241015.C00120,2022-05-25,102.882812,102.917969,102.900391,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11725,C
3582,207431.0,20241015.C00120,2022-05-26,103.136719,103.171875,103.154297,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11773,C
3583,207431.0,20241015.C00120,2022-05-27,103.109375,103.144531,103.126953,M,I,0.0,NaN,NaN,NaN,31724.0,38889.0,0.0,1.11821,C
3584,207431.0,20241015.C00120,2022-05-31,102.972656,103.007812,102.990234,M,I,0.0,NaN,NaN,NaN,31724.0,39415.0,0.0,1.12011,C

# Get Timeseries for Duration Analysis

In [13]:
KEYNO_ts_duration = (207392, 207391, 207457)
SQL_QUERY = f'select * from crsp_m_treasuries.tfz_dly where kytreasno in {KEYNO_ts_duration}'
ts_issue_duration = db.raw_sql(SQL_QUERY)
ts_issue_duration

infoflds = ['tdatdt','tmatdt','tcouprt','itype']
labels = ['issue date','maturity date','coupon rate','security type']
rename_dict = {infoflds[i]:labels[i] for i in range(len(infoflds))}
info_ts_duration = data_iss.set_index('kytreasno').loc[list(KEYNO_ts_duration),infoflds].rename(columns=rename_dict)

# Get Fama-Bliss Discount (Zero-Coupon) Bonds

In [22]:
data_famabliss = db.get_table(library='crsp_m_treasuries', table='tfz_mth_fb').pivot_table(index='mcaldt',values='tmnomprc', columns='kytreasnox')
tag_famabliss_file = data_famabliss.index[-1].strftime('%Y-%m-%d')
data_famabliss.columns = [1,2,3,4,5]
data_famabliss.index.name = 'date'
data_famabliss.index = data_famabliss.index.astype('datetime64[ns]')
data_famabliss.index
data_famabliss /= 100

data_famabliss

# Save to Excel

In [14]:
outfile = f'../data/treasury_quotes_{DATE}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data.to_excel(writer, sheet_name= 'quotes', index=False)

In [10]:
outfile = f'../data/treasury_ts_{MATDT}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_info.T.to_excel(writer, sheet_name= 'info', index=True)
    ts.to_excel(writer, sheet_name= 'database', index=False)

In [29]:
outfile = f'../data/treasury_ts_issue_{KEYNO_ts}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue.to_excel(writer, sheet_name= 'ts', index=False)

In [34]:
outfile = f'../data/treasury_ts_issue_TIPS_{KEYNO_tips}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    ts_issue_tips.to_excel(writer, sheet_name= 'ts', index=False)

In [19]:
outfile = f'../data/yields_{tag_yield_file}.xlsx'
with pd.ExcelWriter(outfile) as writer:
    data_ft.to_excel(writer, sheet_name= 'yields', index=True)

In [14]:
outfile = f'../data/treasury_ts_issue_duration_{KEYNO_ts_duration}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    info_ts_duration.to_excel(writer, sheet_name= 'info', index=True)
    ts_issue_duration.to_excel(writer, sheet_name= 'ts', index=False)

In [27]:
outfile = f'../data/treasury_zero_coupon_{tag_famabliss_file}.xlsx'
with pd.ExcelWriter(outfile) as writer:  
    data_famabliss.to_excel(writer, sheet_name= 'prices', index=True)